# Ignore tfvars with sensitive data
terraform.tfvars
*.tfvars
.terraform
# Ignore local Terraform state
*.tfstate
*.tfstate.backup

# Ignore crash logs
crash.log

# Ignore Terraform lock file (optional)
.terraform.lock.hcl


# Ignore SSH keys (if stored here — not recommended!)
*.pem
*.key
#ignoring the private key
firstproject